.description {
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 145px;
  text-align: center;
  padding: 0rem 1rem;
  margin: 2rem 0;
  &__title {
    color: var(--DarkDesaturatedBlue);
    font-size: 1.25rem;
  }
  &__text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    span {
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 3rem 0;
    &__text {
      display: block;
    }
  }
}
