.pricing {
  background-color: var(--White);
  text-align: center;
  // padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.1);
}

@import "pageviews";
@import "billing";
